@media screen and (min-width: 750px){


.canvas_section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;


    .canvas-class{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;


    }
}

.canvas-wrapper{
    display: grid;
    gap: 1rem;
}

img{
 margin-bottom: auto;
    
    // width: auto;
    // height: 150px;
}

// .pm_btns_container{
//     position: absolute; 
//     background-color: red;
//     bottom: 0;

// }


}