@media screen and (min-width: 750px) {
  h1 {
    font-size: 2.3rem;
  }

  img {
    margin-bottom: auto;
  }

  .cartSectionOpen {
    top: 5rem;
    width: 400px;
    border-radius: 1rem;
  }

  .canvas_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;

    .canvas-class {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }

  .canvas-wrapper {
    display: grid;
    gap: 1rem;
  }
}
