@media screen and (min-width: 750px){


.canvas_section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;


    .canvas-class{
        display: flex;
        flex-direction: column;

        


    }
}





}