$primary-color: #92a5f7;
$secondary-color: #41496e;
$white-color: #ffffff;
$transparency-color: #ffffff61;
$transparency-color-button:rgba(146, 165, 247, 0.608);

$heading-font: 'Berkshire Swash', serif;
$text-font: 'Playfair Display', serif;

$primary-font-size: 1rem;

/* Styling för alla produktbilder och dess innehåll*/
// @mixin productStyling{

// }

@mixin borderSolidTemparary {
  /*Temparary*/
  border: solid black;
}
